APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:SJCv4+gi2NUrOSHo68+oIckofxjF7RzIG5B9J1dcYjQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nafza-system
DB_USERNAME=root
DB_PASSWORD=

DROPBOX_ACCESS_TOKEN=sl.BB38BIHU-Ia2Bt5-CHLRff_2sOcfzXeFvo8qINICIwv4M7HNltPf4ZIaqkpVgoyCyaNE37izz1nVE88SAsPleXLmpo5N6nhEtUZdJBrjae_GngPk-pW5KoJLFvn50ESwhh6542g

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=fa432652794d75
MAIL_PASSWORD=692a02add878b6
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=AKIASH3CIVRGCFWXUR4W
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=nafza-system-postfyp-images
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"